{% extends 'base.html.twig' %}

{% block title %}Mes reservations - NatalTribe{% endblock %}



{% block body %}
<body>
    
<link rel="stylesheet" href="{{ asset('assets/css/mesReservations.css')}}">
<link rel="stylesheet" href="{{ asset('assets/bootswatch/dist/journal/bootstrap.css') }}">




{% block tableReservation %}

<h1>Mes reservations</h1>
<p>Retrouvez l'ensemble des réservations que vous avez ajouté.</p>
{% if cart|length > 0 %}
    <div class="container">
    <table class="table table-hover">
    <thead>
        <tr>
        
        <th scope="col">Cours</th>
        <th></th>
        <th scope="col">Créneaux</th>
        <th scope="col">Prix</th>
        <th>   </th>
        </tr>
    </thead>
    <tbody>
    {% set total = null %}
    {% for resa in cart %}

        
    
        <tr class="table-primary">
        
        <td scope="row"> <img src="{{ asset('assets/images/' ~ resa.creneau.cours.image) }}" alt="" height="50px">
        </td>
        <td>{{resa.creneau.cours.nom}}</td>
        <td>{{resa.creneau.dateTime}}</td>
        <td>{{(resa.creneau.cours.prix / 100)|number_format(2, ',', '.')}} €</td>
        <td><a href="{{ path('delete_to_cart', {'id' : resa.creneau.id}) }}"><i class="fa-solid fa-trash-can" ></i></a></td>
        </tr>
        {% set total = total + (resa.creneau.cours.prix) %}
    {% endfor %}
    </tbody>
    </table>
    </div>

    <div class="resaRecap container">
    <span> <b> Nombre de creneaux : </b> {{ cart|length}} </span> <br>
    <span><b>Total :</b> {{(total / 100)|number_format(2, ',', '.')}} € </span>
    </div>


    <div class="d-grid gap-2 container resaButton">
    <a href="" class="btn btn-lg btn-primary">Réserver</a>
    
    </div>

{% else %}
<hr>

<p><b>Vous n'avez réservé aucun créneau.</b></p>
{% endif %}

{% endblock %}

    
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
<script src="https://kit.fontawesome.com/52c511fed8.js" crossorigin="anonymous"></script>
{% endblock %}



