{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - NatalTribe{% endblock %}
{% block metaDescription %}Modifier le mot de passe de l'accès au site Ntribe{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/bootswatch/dist/journal/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/form.css') }}">
{% endblock %}
{% block body %}
<main>
<div class="container col-sm-6 size ">
<div class="g-col-6 g-col-md-4">
<h1>Modifier mon mot de passe</h1>


<hr>
<a href="{{ path('account') }}"> Retourner à mon compte </a><br>
<hr>

{{ form(form) }}


</div>
</div>
</main>
{% endblock %}