{% extends 'base.html.twig' %}

{% block title %}Historique des réservations - NatalTribe{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('assets/css/mesReservations.css') }}">
<link rel="stylesheet" href="{{ asset('assets/bootswatch/dist/journal/bootstrap.css') }}">
{% endblock %}

{% block body %}


<h3>Reservations à venir </h3>
<div class="container col-sm-6">

    <div class="container">
    <table class="table table-hover">
    <thead>
        <tr>
        
        <th scope="col">Cours</th>
        <th></th>
        <th scope="col">Créneaux</th>
        <th scope="col">Prix</th>
        <th>   </th>
        </tr>
    </thead>
    <tbody>
    {% set total = null %}
 
    {% for creneau in creneaux %}

        {% if creneau.date > actualDate %}
          
        
    
        <tr class="table-primary">
        
        <td scope="row"> <img src="" alt="" height="50px">
        </td>
        <td>{{creneau.cours.nom}}</td>
        <td>{{creneau.dateTime}}</td>
        <td>{{(creneau.cours.prix / 100)|number_format(2, ',', '.')}} €</td>
        <td><a href=""><i class="fa-solid fa-trash-can" ></i></a></td>
        </tr>
        
        {% set total = total + (creneau.cours.prix) %}
        
        {% endif %}
      {% endfor %}
    </tbody>
    </table>
    </div>



<hr>

</div>

<h3>Reservations passées</h3>



<div class="container col-sm-6">

    <div class="container">
    <table class="table table-hover">
    <thead>
        <tr>
        
        <th scope="col">Cours</th>
        <th></th>
        <th scope="col">Créneaux</th>
        <th scope="col">Prix</th>
        <th>   </th>
        </tr>
    </thead>
    <tbody>
    {% set total = null %}
 
    {% for creneau in creneaux %}

        {% if creneau.date <= actualDate %}
          
        
    
        <tr class="table-primary">
        
        <td scope="row"> <img src="" alt="" height="50px">
        </td>
        <td>{{creneau.cours.nom}}</td>
        <td>{{creneau.dateTime}}</td>
        <td>{{(creneau.cours.prix / 100)|number_format(2, ',', '.')}} €</td>
        <td><a href=""><i class="fa-solid fa-trash-can" ></i></a></td>
        </tr>
        
        {% set total = total + (creneau.cours.prix) %}
        
        {% endif %}
      {% endfor %}
    </tbody>
    </table>
    </div>



<hr>

</div>

{% endblock %}
