{% extends 'base.html.twig' %}

{% block title %}Historique des réservations - NatalTribe{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('assets/css/mesReservations.css') }}">
<link rel="stylesheet" href="{{ asset('assets/bootswatch/dist/journal/bootstrap.css') }}">
{% endblock %}

{% block body %}

<main>
<h3>Reservations à venir </h3>
<div class="container col-sm-6">

    <div class="container">
    <table class="table table-hover">
    <thead>
        <tr>
        
        <th scope="col">Cours</th>
        <th>Créneaux</th>
        <th scope="col">Prix</th>
        <th scope="col"></th>
       
        </tr>
    </thead>
    <tbody>


        {% for reservation in reservations %}

            {% if reservation.creneau.date > actualDate %}
        
                <tr class="table-primary">
                
                <td>{{reservation.creneau.cours.nom}}</td>
                <td>{{reservation.creneau.dateTime}}</td>
                <td>{{(reservation.creneau.cours.prix / 100)|number_format(2, ',', '.')}} €</td>
                {% if limit <= reservation.creneau.date %}
                
                <td><a href="{{ path('delete_reservation', {'id' : reservation.id}) }}"><i class="fas fa-trash"></i></a></td>
                </tr>
                {% else %}
                <td></td>
            {% endif %}

            {% endif %}
      {% endfor %}

    
    </tbody>
    </table>
    </div>



<hr>

</div>

<h3>Reservations passées</h3>



<div class="container col-sm-6">

    <div class="container">
    <table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">Cours</th>
        <th scope="col">Créneaux</th>
        <th scope="col">Prix</th>
        </tr>
    </thead>
    <tbody>

 
    {% for reservation in reservations %}

        {% if reservation.creneau.date <= actualDate %}
          
        
    
        <tr class="table-primary">
            <td>{{reservation.creneau.cours.nom}}</td>
            <td>{{reservation.creneau.dateTime}}</td>
            <td>{{(reservation.creneau.cours.prix / 100)|number_format(2, ',', '.')}} €</td>
        </tr>
        
     
        
        {% endif %}
      {% endfor %}
    </tbody>
    </table>
    </div>



<hr>

</div>
</main>
{% endblock %}
